<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Streamlabscharity API</title>
</head>
<body>

<div>
    <p>Pour utiliser le service d'api pour afficher vos cagnottes streamlabs charity sur vos streams. Vous pouvez utilsier ces deux liens :</p>
    <p>
        Pour utiliser la cagnotte globale :<br/>
        Vous devez copier la fin de l'url de la page globale de l'event streamlabs charity.<br/>
        Imaginons que votre url soit celle là : https://streamlabscharity.com/la-spa/live-spa-contre-labandon<br/>
        Votre URL que vous devez mettre sur obs est : <a href="/global/la-spa/live-spa-contre-labandon">http://funixgaming.fr:9777/global/la-spa/live-spa-contre-labandon</a>
    </p>

    <p>
        Pour utiliser la cagnotte personelle :<br/>
        Vous devez copier la fin de l'url de la page globale de l'event streamlabs charity.<br/>
        Imaginons que votre url soit celle là : <a href="https://streamlabscharity.com/@funixgaming/funixgaming-spa">https://streamlabscharity.com/@funixgaming/funixgaming-spa</a><br/>
        L'url que vous devez mettre sur obs est : <a href="/streamer/funixgaming/funixgaming-spa">http://funixgaming.fr:9777/streamer/funixgaming/funixgaming-spa</a> sans le @
    </p>

    <p>
        Basez vous toujours sur la fin de l'url après le https://streamlabscharity.com/<br/>
        Utilisez bien /streamer pour la cagnotte perso<br/>
        Et /global pour la cagnotte globale<br/>
    </p>
</div>

</body>
</html>
